In [1]:
import pandas as pd

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

df = pd.read_csv('combined_dataset_2324.csv')
df

                                     Item  Qty             Datetime  Traffic
0                Drink 2 - Cold Brew - FM    1  2023-10-28 11:41:41      432
1       Croissant - Pain Au Chocolat - FM    1  2023-10-28 11:40:39      432
2      Croissant - Pumpkin Croissant - FM    1  2023-10-28 11:40:39      432
3      Croissant - Pumpkin Croissant - FM    1  2023-10-28 11:34:11      432
4       Croissant - Pain Au Chocolat - FM    1  2023-10-28 11:33:24      432
...                                   ...  ...                  ...      ...
11843               Butter Croissant - FM    1  2024-05-18 07:14:30      593
11844                   Kouign Amann - FM    1  2024-05-18 07:13:11      593
11845               Almond Croissant - FM    1  2024-05-18 07:10:47      593
11846     Ube & Strawberry Croissant - FM    1  2024-05-18 07:10:18      593
11847                Pain Aux Raisin - FM    1  2024-05-18 07:10:18      593

[11848 rows x 4 columns]

In [4]:
df.dtypes

Item        object
Qty          int64
Datetime    object
Traffic      int64
dtype: object

In [5]:
# Prep data
df['Datetime'] = pd.to_datetime(df['Datetime'])
df['Hour'] = df['Datetime'].dt.hour
df['DayOfWeek'] = df['Datetime'].dt.dayofweek
df['Month'] = df['Datetime'].dt.month
df

,Item,Qty,Datetime,Traffic,Hour,DayOfWeek,Month
0,Drink 2 - Cold Brew - FM,1,2023-10-28 11:41:41,432,11,5,10
1,Croissant - Pain Au Chocolat - FM,1,2023-10-28 11:40:39,432,11,5,10
2,Croissant - Pumpkin Croissant - FM,1,2023-10-28 11:40:39,432,11,5,10
3,Croissant - Pumpkin Croissant - FM,1,2023-10-28 11:34:11,432,11,5,10
4,Croissant - Pain Au Chocolat - FM,1,2023-10-28 11:33:24,432,11,5,10
...,...,...,...,...,...,...,...
11843,Butter Croissant - FM,1,2024-05-18 07:14:30,593,7,5,5
11844,Kouign Amann - FM,1,2024-05-18 07:13:11,593,7,5,5
11845,Almond Croissant - FM,1,2024-05-18 07:10:47,593,7,5,5
11846,Ube & Strawberry Croissant - FM,1,2024-05-18 07:10:18,593,7,5,5
11847,Pain Aux Raisin - FM,1,2024-05-18 07:10:18,593,7,5,5

In [20]:

# Aggregate sales per hour
hourly_sales = df.groupby(['Hour', 'Traffic', 'DayOfWeek', 'Month'])['Qty'].sum().reset_index()

# Drop missing traffic values
hourly_sales = hourly_sales.dropna()

# Define features and target
X = hourly_sales[['Hour', 'Traffic', 'DayOfWeek', 'Month']]
y = hourly_sales['Qty']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

# Train model
model = RandomForestRegressor(n_estimators=4, random_state=42)
model.fit(X_train, y_train)

# Predict and evaluate
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)

print(f"Mean Absolute Error: {mae:.2f}")

print(y_test, y_pred)

Mean Absolute Error: 13.87
25      37
84      75
100    146
10       3
195     28
53      39
65      92
66      98
182     34
175     33
29      50
153     90
183     33
13       1
134    102
94      63
164     66
35      35
127    147
24      41
23      63
45      76
6        5
12       4
64      43
18      50
157     77
173     50
172     23
2        1
57      38
3        3
120    102
14       4
44      75
178     32
113    126
179     48
192     34
184     38
111     57
Name: Qty, dtype: int64 [ 32.    89.   137.75   2.    18.    67.75  61.25 125.25  15.75  18.
  40.5   92.5   47.     2.   106.25  48.75 108.25  41.5  131.    48.
  47.75  53.     2.5    2.    66.    25.75  92.5   17.5   22.75   1.
  55.5    1.   101.5    2.25  53.     8.5  128.5   20.75  18.    47.
  90.  ]

In [9]:

# Input must be in the same feature format used for training
new_data = pd.DataFrame([{
    'Hour': 10,
    'Traffic': 500,
    'DayOfWeek': 5,
    'Month': 4
}])

# Predict
future_prediction = model.predict(new_data)
print(f"Predicted Quantity Sold: {future_prediction[0]:.2f}")

Predicted Quantity Sold: 99.32

In [11]:
import numpy as np

y_pred = np.random.uniform(low=90, high=100, size=(len(y_test),))
mae = mean_absolute_error(y_test, y_pred)

print(f"Mean Absolute Error: {mae:.2f}")

Mean Absolute Error: 49.87

In [12]:
y_test

25      37
84      75
100    146
10       3
195     28
53      39
65      92
66      98
182     34
175     33
29      50
153     90
183     33
13       1
134    102
94      63
164     66
35      35
127    147
24      41
23      63
45      76
6        5
12       4
64      43
18      50
157     77
173     50
172     23
2        1
57      38
3        3
120    102
14       4
44      75
178     32
113    126
179     48
192     34
184     38
111     57
Name: Qty, dtype: int64

In [13]:
y_pred

array([91.70930492, 94.24765892, 99.51769759, 99.41615924, 95.36525079,
       91.13341774, 99.85910716, 96.09426552, 97.89573618, 91.46957539,
       90.92329029, 91.17496098, 99.77316688, 98.07487001, 94.2077986 ,
       98.74473388, 92.30096706, 97.16006021, 95.81203819, 93.37275493,
       97.2837069 , 96.77487178, 97.26208852, 95.64364834, 95.08740865,
       91.64670073, 97.13951038, 97.41628788, 96.92423119, 95.8309758 ,
       99.52936635, 96.71977553, 97.16195316, 93.06987383, 99.02819807,
       92.8673243 , 97.00230583, 94.20047087, 90.94241092, 94.7549039 ,
       99.6094918 ])